@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* universal fonts and colors */
h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: #fff;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* color: #fff; */
}

/* nav bar css */
nav {
  padding: 1px 20px;
  background-color: #3CAEA3;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  min-width: 294px;
}

nav h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

nav img {
  height: 70px;
  margin-right: 20vw;
}

/* nav elements css */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul li {
  display: flex;
  margin-right: 10px;
}

ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 100;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

ul li img {
  height: 40px;
  margin: 0px;
  /* margin-top: 22px; */
}

ul li a:hover {
  background-color: #5b9e7d;
  color: #fff;
}

.login {
  /* font-size: 20px; */
  border: 1px solid #8e918e;
  border-radius: 20px;
  /* padding: 1px 20px 3px 20px; */
  background-color: #FFC857;
  /* text-align: center;
    align-items: center; */
}

.count {
  display: flex;
  border-radius: 50%;
  width: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 20px;
  font-size: 13px;
  color: #fff;
  font-style: normal;
  background-color: red;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  position: absolute;
  transform: translateX(-40px);
  transform: translateY(15px);
}


/* Main section started
Hero section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-spacing: 30px;
  margin-bottom: 200px;
  width: 100%;
  height: calc(100vh - 80px);
}

.hero-text {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 700px;
}

.hero-text h1 {
  margin-top: 200px;
  color: #000;
  font-size: 96px;
  text-align: center;
}

.hero-text p {
  text-align: center;
}

.hero-img img {
  animation: levitate 6s linear infinite;
  grid-column: 2/3;
  height: 750px;
}

.hero:nth-child(2) {
  margin-right: 200px;
}

/* Levitating Animation */
@keyframes levitate {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}
/* Responsiveness of hero section */
@media (min-width: 1320px) and (max-width: 1600px) {
  .hero-img img, .hero-text{
    height: 700px;
  }

  .hero-text h1 {
    font-size: 81px;
  }
}

@media (min-width: 1320px) and (max-width: 1320px) {
  .hero-img img, .hero-text{
    height: 650px;
  }

  .hero-text h1 {
    font-size: 72px;
  }

  .hero {
    height: auto;
    margin-top: 25px;
  }
  .cta {
    padding: 10px 15px;
  }
}

@media (min-width: 1150px) and (max-width: 1320px) {
  .hero-img img, .hero-text{
    height: 600px;
  }

  .hero-text h1 {
    font-size: 72px;
  }

  .hero {
    height: auto;
    margin-top: 50px;
    margin-bottom: 300px;
  }
  .cta {
    padding: 9px 13px;
  }
}


@media (min-width: 1000px) and (max-width: 1150px) {
  .hero-img img, .hero-text{
    height: 600px;
  }

  .hero-text h1 {
    font-size: 64px;
  }

  .hero {
    height: auto;
    margin-top: 75px;
    margin-bottom: 300px;
  }
  .cta {
    padding: 8px 11px;
  }
}

@media (min-width: 1100px) and (max-width: 1150px) {
  .hero-img img, .hero-text{
    height: 600px;
  }

  .hero-text h1 {
    font-size: 54px;
  }

  .hero {
    height: auto;
    margin-top: 100px;
  }
}

@media (max-width: 1100px) {
  .hero-img img, .hero-text{
    height: 400px;
  }

  .hero-text h1 {
    font-size: 42px;
  }

  .hero {
    height: auto;
    margin-top: 0px;
    flex-direction: column;
    justify-content: center;
  }
}

/* Call to actions button */
.cta {
  font-family: 'Open Sans', sans-serif;
  border: none;
  padding: 15px 20px;
  background-color: #FFC857;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
}

/* divider */
.line {
  border: 0.5px solid black;
  width: 100%;
  position: absolute;
  top: 100vh;
}
 
/* About Us section */
.aboutUs {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  height: auto;
  margin-bottom: 80px;
}

.aboutUs>div:nth-child(1) {
  height: auto;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
}

.aboutUs div>div:nth-child(1) {
  max-width: 500px;
  min-width: 200px;
  margin-left: 100px;
  margin-right: 50px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3CAEA3;
  flex-wrap: wrap;
  position: relative;
}

.aboutUs div>div:nth-child(1) .accent-image {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80px;
}

.aboutUs>div:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.aboutUs >div:nth-child(1){
  transform: translateX(+15vw);
  z-index: 2;
}

.aboutUs >div:nth-child(2){
  transform: translateX(-15vw);
  z-index: 1;
}
/* About Us responsiveness */
@media (min-width: 1450px) and (max-width: 1600px){
  .aboutUs >div:nth-child(1){
    transform: translateX(+13vw);
  }
  
  .aboutUs >div:nth-child(2){
    transform: translateX(-13vw);
  }
}

@media (min-width: 1300px) and (max-width: 1450px){
  .aboutUs >div:nth-child(1){
    transform: translateX(+11vw);
  }
  
  .aboutUs >div:nth-child(2){
    transform: translateX(-11vw);
  }
}

@media (min-width: 1000px) and (max-width: 1300px){
  .aboutUs >div:nth-child(1){
    transform: translateX(+8vw);
  }
  
  .aboutUs >div:nth-child(2){
    transform: translateX(-8vw);
  }
}

@media (min-width: 900px) and (max-width: 1000px){
  .aboutUs div>div:nth-child(1) {
    margin-left: 50px;
    margin-right: 20px;
  }
  .aboutUs >div:nth-child(1){
    transform: translateX(+8vw);
  }
  
  .aboutUs >div:nth-child(2){
    transform: translateX(-8vw);
  }
}

@media (max-width: 900px) {
  .aboutUs >div:nth-child(1){
    transform: translateX(0);
    transform: translateY(5vw);
  }
  
  .aboutUs >div:nth-child(2){
    transform: translateX(0);
    transform: translateY(-5vw);
  }
  .aboutUs {
    display: flex;
    flex-direction: column;
  }

  .aboutUs >div:nth-child(2) img{
    height: 700px;
    width: 600px;
  }

  .aboutUs div>div:nth-child(1) {
    margin-left: 0;
    margin-right: 0;
  }
  .aboutUs {
    margin-top: 0px;
  }
}

/* Featured Products and suggested products Section */

.recommendedEquipments h1{
  margin-bottom: 30px;
}

.featured-products {
  text-align: center;
  /* display: flex;
  flex-direction: columns; */
  flex-wrap: wrap;
}

.featured-products h1 {
  margin-bottom: 30px;
}


.img_box {
  position: relative;
  padding-bottom: 100%;
  /* 1:1 aspect ratio */
  background-color: #FFC857;
}

.img_box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img_box {
  width: 500px;
}

.caption {
  margin-top: 200px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  text-align: left;
}

.caption h4 {
  /* color: #000; */
  background-color: -webkit-linear-gradient(to right, #fc4a1a, #f7b733);
  font-size: 24px;
  margin-bottom: 5px;
}

.caption p {
  font-size: 14px;
  color: #adadad;
}

.splide__slide .caption {
  visibility: none;
}

.splide__slide.is-active .caption {
  visibility: visible;
}
/* Hair Conditions Section */
.HC {
  margin-top: 70px;
  padding: 30px;
  width: 100%;
  background-color: #3CAEA3;
  text-align: center;
  margin-bottom: 10px;
}

.condition {
  margin: 20px;
  color: #fff;
  border-radius: 20px;
  background-color: #FFC857;
  color: #000;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Removed the comma from grid-template-columns */
}

.condition img {
  border-radius: 20px;
  height: 200px;
}

.condition p {
  text-align: justify;
}

/* Responsiveness of the Hair Conditions */

@media (max-width:768px) {
  .condition {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 0.2fr 1fr;
  }
  .treatments-img {
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
  }
}

/* Easy Home Remedies Section */
.EHR {
  background-color: #3CAEA3;
  margin-top: 50px;
  padding: 30px;
  text-align: center;
}

.EHR div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.remedy {
  margin: 20px;
  background-color: #FFC857;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  flex: 1 1 300px;
}

.remedy img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
/* Responsives */
@media (max-width: 768px) {
  .EHR div {
    flex-direction: column;
    align-items: center;
  }

  .remedy {
    margin: 20px 0;
  }
}

/* Testimonial section */
.home-testimonial {
  margin-top: 50px;
  background-color: #3CAEA3;
  padding: 40px 0;
}

.home-testimonial h1,
.home-testimonial h2 {
  color: #fff;
  text-align: center;
}

.home-testimonial h2 {
  font-size: 20px;
}

.home-testimonial-bottom {
  background-color: #FFC857;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 20px;
}

.testimonial-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tour-item {
  width: 100%;
  max-width: 300px;
  margin: 20px;
}

.tour-desc {
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.tour-text {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #212529;
  margin-bottom: 20px;
}

.tm-people {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 10px;
}

.link-name,
.link-position {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #212529;
}

/* responsiveness of testimonials */

@media (max-width: 900px) {
  .testimonial-inner {
    justify-content: flex-start;
  }

  .tour-item {
    width: 100%;
    max-width: none;
  }
}

/* footer */

footer {
  background-color: #D9D9D9;
  border-top: 2px solid black;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.fs {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center;
  gap: 10px; /* Add some spacing between image and text */
}

.fs img {
  height: 30px;
  max-width: 100%; /* Adjust the width of the image */
}

.fs p {
  margin: 0; /* Remove default margin */
}
