@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* universal fonts and colors */
h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: #fff;
}

p{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* color: #fff; */
}  

/* nav bar css */
nav {
    padding: 1px 20px;
    background-color: #3CAEA3;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  min-width: 294px;
}

nav h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

nav img {
  height: 70px;
  margin-right: 20vw;
}

/* nav elements css */
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  ul li {
    display: flex;
    margin-right: 10px;
  }
  
  ul li a {
    text-decoration: none;
    font-size: 25px;
    font-weight: 100;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  ul li img{
    height: 40px;
    margin: 0px;
    /* margin-top: 22px; */
  }

  ul li a:hover {
    background-color: #5b9e7d;
    color: #fff;
  }

  .login {
    /* font-size: 20px; */
    border: 1px solid #8e918e ;
    border-radius: 20px;
    /* padding: 1px 20px 3px 20px; */
    background-color: #FFC857;
    /* text-align: center;
    align-items: center; */
  }


/* Main section started
Hero section */
.hero {
    display: grid;
    grid-template-columns: 0.5fr, 0.5fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin-bottom: 200px;
}

.hero-text {
    grid-column: 1/2;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 50vw;
}

.hero-text h1 {
    margin-top: 200px;
    color: #000;
    font-size: 96px;
    /* width: 50vw; */
    text-align: center;
    top: -500px;
}

.hero-text p {
    text-align: center;
    /* width: 50vw; */
}

.hero img{
    animation: levitate 4s linear infinite;
    grid-column: 2/3;
    height: 80vh;
}

.hero:nth-child(2) {
  margin-right: 200px;
}

/* Levitating Animation */
@keyframes levitate {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }

/* Call to actions button */
.cta {
    padding: 7px 15px;
    font-family: 'Open Sans', sans-serif;
    border: none;
    padding: 15px 20px;
    background-color: #FFC857;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 500;
}

/* divider */
.line {
    border:0.5px solid black;
    width: 100%;
    position: absolute;
    top: 100vh;
}

/* About Us Section */
.aboutUs {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  height: 600px;
  margin-bottom: 200px;
}

.aboutUs > div:nth-child(1) {
  height: 800px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  grid-column: 1;
  grid-row: 1;
}

.aboutUs div > div:nth-child(1) {
  max-width: 500px;
  min-width: 200px;
  margin-left: 300px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #3CAEA3;
  flex-wrap: wrap;
  z-index: 2;
  /* transform: translateX(10vw); */
}



.aboutUs > div:nth-child(1) h1 {
  font-size: 32px;
}

.aboutUs > div:nth-child(1) img {
  height: auto; 
  width: 80px;
  /* position: absolute;
  top: 0;
  left: 0; 
  transform: translate(-50% +80px, -50% +80px); */
}

.aboutUs > div:nth-child(1) p {
  font-size: 16px;
}

.aboutUs > div:nth-child(2) {
  height: 800px;
  margin-right: 300px;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  justify-self: end;
  position: absolute;
  /* transform: translateX(-10vw); */
  z-index: 1;
}

.aboutUs > div:nth-child(2) img {
  height: 700px;
}

/* Featured Products Section */

.featured-products {
  text-align: center;
  /* display: flex;
  flex-direction: columns; */
  flex-wrap: wrap;
}

.featured-products h1 {
  margin-bottom: 30px;
}


.img_box {
  position: relative;
  padding-bottom: 100%; /* 1:1 aspect ratio */
  background-color: #FFC857;
}

.img_box img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.img_box {
  width: 500px;
}

.caption {
  margin-top: 200px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
  text-align: left;
}

.caption h4 {
  /* color: #000; */
  background-color: -webkit-linear-gradient(to right, #fc4a1a, #f7b733); /* Chrome 10-25, Safari 5.1-6 */;
  font-size: 24px;
  margin-bottom: 5px;
}

.caption p {
  font-size: 14px;
  color: #666565;
}

.splide__slide .caption {
  visibility: none;
}

.splide__slide.is-active .caption {
  visibility: visible;
}

/* Easy Home Remedies Section */

.EHR {
  background-color: #3CAEA3;
  margin-top: 50px;
  text-align: center;
  padding: 30px;
}



.EHR div {
  display: flex;
}

.remedy {
  margin: 50px;
  background-color: #FFC857;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
}

.remedy img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}