@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* universal fonts and colors */
h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: #fff;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* color: #fff; */
}

main {
  height: fit-content;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

/* nav bar css */
nav {
  padding: 1px 20px;
  background-color: #3CAEA3;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  min-width: 294px;
}

nav h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

nav img {
  height: 70px;
  margin-right: 20vw;
}

/* nav elements css */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul li {
  display: flex;
  margin-right: 10px;
}

ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 100;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

ul li img {
  height: 40px;
  margin: 0px;
  /* margin-top: 22px; */
}

ul li a:hover {
  background-color: #5b9e7d;
  color: #fff;
}

.login {
  /* font-size: 20px; */
  border: 1px solid #8e918e;
  border-radius: 20px;
  /* padding: 1px 20px 3px 20px; */
  background-color: #FFC857;
  /* text-align: center;
    align-items: center; */
}

.count {
  display: flex;
  border-radius: 50%;
  width: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 20px;
  font-size: 13px;
  color: #fff;
  font-style: normal;
  background-color: red;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  position: absolute;
  transform: translateX(-40px);
  transform: translateY(15px);
}

/* Main */
.contact-section h1{
  color: #000;
}

#map {
  width: 100vw;
  height: calc(100vh - 395px);
}

/* footer */

footer {
  background-color: #D9D9D9;
  border-top: 2px solid black;
  margin-top: 75px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 30px;
}

.fs {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center;
  gap: 10px; /* Add some spacing between image and text */
}

.fs img {
  height: 30px;
  max-width: 100%; /* Adjust the width of the image */
}

.fs p {
  margin: 0; /* Remove default margin */
}


.fr {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
}