@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/* universal fonts and colors */
h1 {
  font-family: 'Playfair Display', serif;
  margin: 0;
  color: #fff;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* color: #fff; */
}

main {
  height: calc(100vh - 146px - 70px);
}

/* nav bar css */
nav {
  padding: 1px 20px;
  background-color: #3CAEA3;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
  min-width: 294px;
}

nav h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

nav img {
  height: 70px;
  margin-right: 20vw;
}

/* nav elements css */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

ul li {
  display: flex;
  margin-right: 10px;
}

ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 100;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
}

ul li img {
  height: 40px;
  margin: 0px;
  /* margin-top: 22px; */
}

ul li a:hover {
  background-color: #5b9e7d;
  color: #fff;
}

.login {
  /* font-size: 20px; */
  border: 1px solid #8e918e;
  border-radius: 20px;
  /* padding: 1px 20px 3px 20px; */
  background-color: #FFC857;
  /* text-align: center;
    align-items: center; */
}


/* header */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555555;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: center;
  border-top: 1px solid black;
  width: 100%;
  max-height: 45px;
  font-family: "Roboto", sans-serif;
}

nav ul {
  transform: translateY(-20px);
  height: 1px;
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.logo {
  width: 200px;
}

.cart-icon {
  height: 35px;
}

.container-header {
  margin: auto;
  padding-left: 250px;
  padding-right: 250px;
}*/

.count {
  display: flex;
  border-radius: 50%;
  width: 20px;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 20px;
  font-size: 13px;
  color: #fff;
  font-style: normal;
  background-color: red;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  position: absolute;
  transform: translateX(-40px);
  transform: translateY(15px);
}

/* .cart {
  transform: translateY(23px);
}  */

/* Main */
.cart-parent {
  display: flex;
  flex-wrap: wrap;
  margin-top: -21px;
  height: 550px;
  max-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.cart-parent h2 {
  font-size: 20px;
  color: #555555;
  font-family: "Poppins", sans-serif;
  /* background: radial-gradient(circle at center, #888787 80%, #6e6b6b); */
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product-img {
  height: 180px;
  width: 120px;
}

.bin {
  height: 20px;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

table {
  align-items: center;
  text-align: center;
  justify-content: center;
}

/* Main */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Checkout container */
.checkout {
  margin: 10px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

/* Row container */
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
}

/* Individual container */
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* background: radial-gradient(circle at center, #b3b3b3 80%, #afa6a6); */
  background-color: #f7f7f7;
  /* box-shadow: 0px 1px 8px 1px #888787; */
  padding: 10px 30px 15px 20px;
  flex-basis: 100%;
}

/* Billing header */
.billinghead {
  font-weight: bold;
  padding-top: 25px;
  margin-bottom: 20px;
}

/* Column 25% */
.col-25 {
  flex-basis: 25%;
}

/* Billing address */
.billingaddress {
  flex-basis: 50%;
  padding: 0 20px;
}

/*Billing Info*/
.billing-info {
  margin-right: 50px;
  margin-top: 30px;
  width: 46%;
}

/*Billing Info*/
.cart-list {
  margin-left: 50px;
  margin-top: 30px;
  width: 45%;
}

/* Main div */
.main-div {
  flex-basis: 100%;
}

/* Card Payment Styling */
.head3 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Input fields */
input[type="text"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
input[type="date"] {
  width: 100%;
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Label */
label {
  display: block;
}

/* Icon container */
.icon-container {
  padding: 7px 0;
  font-size: 34px;
  text-align: center;
  width: 100%;
}

/* Card box */
.box-card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.box-card div {
  width: 45%;
}

/* Button */
.btn {
  /* background: radial-gradient(circle at center, #888787 80%, #6e6b6b); */
  background-color: #d3cccc;
  color: #000;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  width: 50%;
  float: right;
  cursor: pointer;
  font-size: 22px;
  transition: background-color 0.5s ease-in-out;
}

.btn:hover {
  background-color: #b6a4a4;
}

/* Shipping address */
.shipping-address {
  margin-top: 20px;
  margin-left: 30px;
}

/* Items List */
.cart-parent {
  height: 100%;
  max-width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-color: #dcdcdc;
  background-color: #f7f7f7;
  margin-top: 10px;
  padding: 20px;
}

.cart-parent h2 {
  font-size: 20px;
  color: #555555;
  font-family: "Poppins", sans-serif;
  /* background: radial-gradient(circle at center, #837e7e 80%, #686464); */
  background-color: #f7f7f7;
  padding-top: 20px;
  padding-bottom: 20px;
}

.product-img {
  height: 180px;
  width: 120px;
}

.bin {
  height: 30px;
  transition: background-color 0.25s ease-in-out;
  padding: 5px;
}

.bin:hover {
  background-color: #b6a4a4;
}

.item {
  display: flex;
  flex-direction: row;
  width: 100%;
}

table {
  align-items: center;
  text-align: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 20px;
}

.product-info {
  margin: 0;
}

.cart-row {
  display: flex;
  align-items: center;
}

form {
  width: 100%;
}

.quantity {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 30px;
  align-items: center; /* add this property to center the content vertically */
}

.quantity button {
  border: none;
  width: 33%;
  font-size: 20px;
  background-color: transparent; /* set the background color to transparent */
}

.quantity p{
  height: 100%;
  text-align: center;
  vertical-align: middle; /* change to middle to center the text vertically */
  display: flex;
  align-items: center; /* add this property to center the content vertically */
}

.quantity button:hover {
  background-color: #ccc;
  cursor: pointer; /* add cursor property to indicate that it's clickable */
}

.list-footer {
  text-align: right;
  width: 100%;
  color: #555555;
  font-family: 'Poppins', sans-serif;
}

/* Responsive layout*/
@media screen and (max-width: 760px) {
  /* Row container */
  .row {
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
  }

  /* Billing address */
  .billingaddress {
    flex-basis: 100%;
    padding: 0;
  }

  /* Button */
  .btn {
    width: 100%;
    margin-left: 0;
  }
}


/* footer */

footer {
  background-color: #D9D9D9;
  border-top: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  text-align: center;
  justify-content: center;
  padding: 30px;
}

.fs {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center;
  gap: 10px; /* Add some spacing between image and text */
}

.fs img {
  height: 30px;
  max-width: 100%; /* Adjust the width of the image */
}

.fs p {
  margin: 0; /* Remove default margin */
}


/* ______________________________________ */
/* Add mobile responsive styles
@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0;
  }
  table {
    width: 100%;
  }
  td, th {
    text-align: center;
    padding: 5px;
  }
  .product-img {
    max-width: 100%;
    height: auto;
  }
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  .minus, .plus {
    font-size: 18px;
    padding: 5px;
    margin: 0 5px;
  }
  .total {
    text-align: center;
    margin: 10px 0;
  }
  .billing-info {
    margin-top: 20px;
  }
  .box-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
  }
  .row-3, .row-4, .row-5, .row-6, .row-7, .row-8, .row-9, .row-10 {
    width: 100%;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
  }

  .fa {
    font-size: 30px;
    margin: 0 10px;
  }
  .container {
    width: 100vh;
  }
  .box-card div {
    width: 100%;
  }
} */